/* Tablet Lanskap / Laptop Kecil */
/* width < 1200px */
@media screen and (max-width: 1199.98px) {
  #hero .text-section h1 {
    font-size: 48px;
    margin: 0;
  }
  #about > .image-section {
    flex-basis: 100px;
  }
  #about > .text-section {
    flex-basis: 500px;
  }

  #about > .image-section > div > div {
    margin-left: 40px; /* offset ke kanan */
    margin-top: -220px;
  }
  #about > .image-section > div > img {
    margin-top: 0; /* overlap ke atas */
    margin-left: 60px; /* offset ke kanan */
  }
  #services > div .services {
    width: 100%;
  }
  .projects > .card > .card-image {
    flex: 1 0 150px;
  }
  .projects > .card > .card-body {
    flex: 1 1 370px;
  }
}

/* Tablet Portret */
/* width < 992px */
@media screen and (max-width: 991.98px) {
  main > section {
    padding: 36px 42px;
  }
  nav .navbar {
    padding: 0 42px;
  }
  #hero {
    padding-top: 42px;
  }
  #hero .text-section {
    flex: 1 1 200px;
  }
  #hero .text-section h1 {
    font-size: 40px;
  }
  #hero .image-section {
    flex: 1 1 200px;
  }
  #hero .image-section img {
    width: 100%;
  }

  #about > .image-section {
    flex-basis: 60px;
  }
  #about > .text-section {
    flex-basis: 200px;
  }
  #about > .image-section > div > div {
    width: 180px;
    height: 180px;
    margin-left: 40px; /* offset ke kanan */
    margin-top: -180px;
  }
  #about > .image-section > div > img {
    width: 180px;
    height: 180px;
    margin-bottom: -20px; /* overlap ke atas */
    margin-left: 60px; /* offset ke kanan */
  }
  #services > div > p {
    width: 80%;
  }
  #services > div .services {
    gap: 12px;
  }
  #services .card {
    flex: 1 1 160px;
  }
  .projects {
    gap: 12px;
  }
  .projects > .card {
    gap: 16px;
  }
  #service-detail {
    padding-top: 42px;
  }
}

/* Mobile Besar */
/* start layout column recomended */
/* width < 768px */
@media screen and (max-width: 767.98px) {
  nav .navbar {
    display: none;
  }
  nav .navbar-mobile {
    display: flex;
  }
  #hero {
    flex-direction: column-reverse;
  }
  #hero .image-section img {
    width: 80%;
  }
  #about {
    flex-direction: column;
  }
  /* Elemen latar belakang (kotak gelap) */
  #about > .image-section > div > div {
    width: 300px;
    height: 300px;
    margin-left: -5%; /* offset ke kanan */
    margin-top: -84%;
  }

  /* Gambar di atasnya */
  #about > .image-section > div > img {
    width: 300px;
    height: 300px;
    margin-top: 0; /* overlap ke atas */
    margin-left: 5%; /* offset ke kanan */
  }
  #services > div .services {
    flex-direction: column;
  }
  .projects > .card > .card-body {
    flex: 1 3 340px;
  }
  #service-detail .card .card-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  div#nav {
    padding-bottom: 12px;
  }
}

/* Mobile Kecil */
/* width < 576px */
@media screen and (max-width: 575.98px) {
  main > section {
    padding: 32px 28px;
  }
  .navbar-mobile a.logo {
    font-size: 20px;
  }
  nav .navbar-mobile {
    padding: 6px 28px;
  }
  #hero {
    padding-top: 32px;
  }
  #hero .text-section h1 {
    font-size: 36px;
    margin: 0;
  }
  #hero .image-section img {
    width: 90%;
  }
  .slide-track {
    gap: 48px;
  }
  #about {
    gap: 30px;
  }
  #about > .image-section > div > div {
    width: 180px;
    height: 180px;
    margin-left: -5%; /* offset ke kanan */
    margin-top: -84%;
  }
  /* Gambar di atasnya */
  #about > .image-section > div > img {
    width: 180px;
    height: 180px;
    margin-top: 0; /* overlap ke atas */
    margin-left: 5%; /* offset ke kanan */
  }
  #about .text-section > h1 {
    text-align: center;
  }
  #about .text-section > p {
    text-align: justify;
  }

  #services > div > p {
    width: 100%;
  }
  .services .card .card-body h3 {
    margin-bottom: 4px;
  }
  #contact > div {
    margin: 0 auto;
    width: 100%;
  }
  #contact > div > form {
    gap: 4px;
  }
  .social-media > div {
    gap: 10px;
  }
  h4 + .social-media-links {
    margin-bottom: 6px;
  }
  #service-detail .card-header > h1 {
    font-size: 26px;
  }
  .service-list-tech {
    margin-top: 4px;
    gap: 8px;
  }
  .order-form {
    gap: 8px;
  }
  #service-detail {
    padding-top: +32px;
  }
}
